{% extends '@App/KitchenSinkController/base.html.twig' %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Typografie</h1>
            <p class="lead">

            </p>
        </div>
    </div>

    <h2>Verwendete Typografie</h2>

{% endblock %}