{% extends 'base.html.twig' %}

{% block content %}
    <h1>Hallo Welt!</h1>

    {% for role in roleHierarchy %}
        <h2>{{ role.roleId }}</h2>
        <h2>{{ role.subRoleId }}</h2>
        <hr>
    {% endfor %}
{% endblock %}
