@import 'global';

.dropzone {
    border: 1px solid black;

    &__files {
        @include table();
        @include table-sm();
        @include table-bordered();
        @include table-striped();
        @include table-hover();

        width: 100%;

        .dropzone-file {
            height: 20px;
            width: 100%;

            &__name {
                height: 20px;
            }

            &__size {
                height: 20px;
                width: 10%;
            }

            &__actions {
                height: 20px;
                width: inherit;
            }
        }
    }
}
