{% extends '@App/KitchenSinkController/base.html.twig' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">404 - Seite nicht gefunden</h1>
            <p class="lead">
                Ich weiß nicht so recht was Du da suchst, aber der Link war nicht gültig!
            </p>
        </div>
    </div>
{% endblock %}

