{% extends '@App/KitchenSinkController/base.html.twig' %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Herzlich Willkommen</h1>
            <p class="lead">
                Wir stellten und der Herausforderung und generierten ein neues Design für unsere Plattform.
                Opencaching sollte moderner werden. Doch das war nicht so leicht wie gedacht.
                Wir haben zunächst damit angefangen, den "Legacy Code" zu refaktorisieren.
                Dies hat inzwischen fast 2 Jahre gedauert.<br>
                <br>
                Die Kitchensink ist nun das Ergebnis. Hier bilden wir das resultierende CSS Format ab.
                Du kannst Dir die Module anschauen und für Deine Arbeit übernehmen.
                Für Rückfragen steht Dir das
                <a href="http://forum.opencaching.de" rel="nofollow" target="_blank"> Forum</a>
                zur Verfügung.
            </p>
        </div>
    </div>

    <h2>Verwendete Technologie</h2>
    <p>Um den Zeitgeist der modernen Webseiten gestaltung zu folgen, haben wir und darauf geeinigt,
       auf vorhandene Standards & Frameworks zurückzugreifen.
    <ul>
        <li>
            Bootstrap <span class="badge badge-info">4.0-BETA</span>
        </li>
        <li>
            Twig - by Sensio Labs
        </li>
        <li>
            Symfony Framework <span class="badge badge-info">3.1.7</span>
        </li>
        <li>
            Übersetzung werden realisiert mit <span class="badge badge-info">Crowdin.com</span>
        </li>
    </ul>
    Es sei noch anzumerken, dass die Kitchensink selbst ein einfacheres CSS Layout hat und nur die Elemente die wir
    in Opencaching benutzen werden neu kompiliert.
    </p>

{% endblock %}