{% extends '@App/KitchenSinkController/base.html.twig' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">STYLE</h1>
            <p class="lead">
                Das ist der Style der Seite
            </p>
        </div>
    </div>
{% endblock %}

